



{% extends 'base.html' %}
{% block title %}Doors purchase {% endblock %}

{% block style %}
 <style></style>
{% endblock %}
{% block body %}
{% include 'navbar.html' %}


<nav class="navbar navbar-default" style="background-color: #29bd9f;border-color: transparent;">
    <div class="container-fluid">
        <!--header-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><br>
            <a class="navbar-brand" >NKshop</a>
            <select name="Menu" class="form-control" onchange="changeCategory(this.value)">
                <option value="" disabled selected> Select category</option>
                {% for door in doors %}
                    <option value="{{door.id}}">{{door.name}}</option>
                {% endfor %}
            </select>

        </div>
    </div>
</nav>
<div>
  <h3>Doors</h3>
  {% include 'doors_test.html' %}

</div>

<script type="text/javascript">
    function changeCategory(catId) {
        var origin = window.location.origin
        var newLoc = origin + '/doors/?door=' + catId
        window.location.href = newLoc
    }
</script>
{% endblock %}